/* Estilos generales para el modo claro */
body.light-mode {
    background: linear-gradient(to top, rgb(20, 114, 133), rgb(206, 192, 192), rgba(205, 202, 202, 0.786));
    filter: brightness(0.9);

}

.light-mode .contenedor-header {
    background: rgba(4, 6, 32, 0.7);
}

.light-mode .contenedor-header header .logo {
    color: #333;
}

.light-mode .contenedor-header header nav ul li a {
    color: #333;
}

.light-mode .contenedor-header header nav ul li a:hover {
    color: #555;
}

.light-mode .inicio {
    background: linear-gradient(to top, rgba(6, 44, 56, 0.95), rgba(26, 88, 112, 0.75)),
    url(./codigo.jpg);
    color: #000;
}

/* #proyect{
    border-radius: 2rem !important;
} 

#proyect img{
    border-radius: 2rem !important;
} */

.light-mode .inicio .contenido-banner {
    background-color: #a4a7bf;
    color: #000;
}

.light-mode .sobremi {
    background-color: #f5f5f5;
    color: #333;
}

.light-mode .sobremi .contenido-seccion p c {
    color: #555;
}

.light-mode .sobremi button {
    border: 2px solid #333;
    color: #333;
}

.light-mode .sobremi button .overlay {
    background-color: #ddd;
}

.light-mode .skills {
    background-color: #f0f0f0;
    color: #333;
}

.light-mode .curriculum {
    background-color: #e9e9e9;
    color: #333;
}

.light-mode .portfolio {
    background-color: #f8f8f8;
    color: #333;
}

.light-mode .contacto {
    background-image: none;
    background-color: #f7f7f7;
    color: #333;
}

.light-mode footer {
    background-color: #eee;
    color: #333;
}

.light-mode footer .arriba {
    background-color: #ccc;
    color: #333;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
}

.theme-toggle button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

.light-mode .theme-toggle button {
    color: #000;
}


.img_Card{
    src:url('./img/Imagen de WhatsApp 2024-05-27 a las 18.55.05_299728ea.jpg')
 }
 
.contenido-seccion .fila .col .item{
    background-color: #e2c4c4;

 }

 #formulario{
    background-color: #8b8a8d;
 }

 #location div{
    background-color: #75688e;
 }

.contenedor-intereses .interes{
    background-color: #b594a5;
 }